[2015-03-20 09:28] mfojtik opened #4 "Database name should be required"
DATABASE_NAME needs to be required because users can't make assumptions about 'default' database name. If we make them to specify the database name, then we don't need them to point to documentation for the default one.

[2015-03-20 09:28] mfojtik commented on #4
@jhadvig fyi

[2015-03-20 09:57] jhadvig commented on #4
@mfojtik the default name is `production`.  But if we decide to go this path Im fine with it.

[2015-03-20 12:00] #4 closed, assigned to nobody

[2015-04-07 20:58] mfojtik opened #15 "Make test failures reporting better"
@jhadvig when Jenkins fails, it is impossible to parse the Jenkins console output by my poor brain. Can you please print out the test case name and mark the failure using bold color or at least three exclamation marks :-)

[2015-04-16 09:54] jpechane opened #18 "Rename MONGODB_USERNAME env variable"
Both MySQL and PostgreSQL images have config variable named <database>_USER. MongoDB is thus anomaly and I think the variable should be renamed or support both formats _USER and _USERNAME

[2015-04-16 14:26] jhadvig commented on #18
@jpechane thanks for noticing, wil take care of it :+1:

[2015-04-17 07:55] mnagy commented on #18
/me voting for USER

[2015-04-17 11:08] jhadvig commented on #18
@mnagy done, I've submitted the PR https://github.com/openshift/mongodb/pull/19

[2015-04-23 13:31] jhadvig commented on #18
Done in https://github.com/openshift/mongodb/commit/4dc8b19eeb3cc7ccf40fa11fbefba497ae6a70d8

[2015-04-23 13:31] #18 closed, assigned to nobody

[2015-05-26 09:09] mfojtik opened #32 "Make the _USER and _PASSWORD optional when _ADMIN_PASSWORD is set"
When the `_ADMIN_PASSWORD` is set (required now in MongoDB) we should make the the _USER and _PASSWORD optional as the user already gets the `admin` account created. When the admin account is created, then we can't force users to also create regular user account as they can use the admin account to create more users.
Also to keep this backward compatible, we can make _USER and _PASSWORD optional f

[2015-05-26 09:16] soltysh commented on #32
:+1: makes sense, if you have an admin user, there's no point in forcing you to create one at start, you can but are not obligated to do so.

[2015-05-26 09:37] mnagy commented on #32
What about the database, can it be optional as well?

Also, I think this could also be applicable to MySQL and PostgreSQL images as well.

[2015-06-09 09:27] mnagy opened #37 "Create a mongo wrapper script"
Should be in a reasonable bin directory and should enable `docker exec -ti mongo` work out of box.

[2015-06-09 14:24] mfojtik commented on #32
@mnagy can you please look at this?

[2015-06-09 16:59] bparees commented on #32
@mnagy I suppose DB name can be optional also..if you specify no DB name, we do not initialize any DB for you (which is also going to mean we don't create any admin/user accounts, right?)

@mfojtik what do you think?

[2015-06-10 08:49] omron93 commented on #32
@bparees For example in MongoDB admin user is stored in different database than DB user. So you don't have to create _USER in _DATABASE to have usable admin user.

[2015-06-11 08:46] #37 closed, assigned to nobody

[2015-06-15 13:32] mnagy commented on #32
I think I'll have to look into this post-3.0 for now.

[2015-06-22 00:11] smarterclayton opened #50 "Cluster init not working against GA"
Did a straight up create - can you replicate?  Want to show this at summit.

[code]

[2015-06-22 00:11] smarterclayton commented on #50
@jhadvig

[2015-06-22 08:56] mfojtik commented on #50
@smarterclayton this one is just obsoleted env var and we fixed this easely... there is another problem with replica setup where the 'service' mongo does not initiate the replica set properly :-( I'm working on this today.

[2015-06-22 09:16] jhadvig commented on #50
@smarterclayton there was also a problem with labels in the replica template but @mfojtik already took care of it :+1:

[2015-06-22 09:22] mfojtik commented on #50
@smarterclayton also for the future... I would like to know how this cluster example should operate in general.. mainly:

1) Will we support scale up/down or run with static number of replicas?
2) Should we do anything smart regarding to failover?

[2015-06-22 12:04] mfojtik commented on #50
@smarterclayton problem should be solved, you have rebuild the image (or wait for the push_image jenkins job to push centos7 image to Hub)

[2015-06-22 12:06] smarterclayton commented on #50
I think for now we should probably focus on making the scenario clearly documented here (what we do to solve it), ensure we have the tools support to transition to stateful volumes, and make sure we have good tests that exercise it.  Some of the things we want to make better across other components are represented here - ie, nominal services, an easy way to add volumes, making this easier to under

[2015-06-22 12:11] mfojtik commented on #50
@smarterclayton there is definitely a room for improvements... a lot of stuff here can be solved without using bash magic... The deployment hooks can solve the problem of 'deregistering' mongo member when it is going down. The pre-deployment hook can solve registration mongo member to cluster, etc...

[2015-06-22 12:46] smarterclayton commented on #50
Spending a small amount of time trying to practically use our existing API features is valuable for other reasons - doc, testing, and experience.

[2015-08-13 14:11] rhcarvalho opened #70 "After a redeploy, MongoDB replica set is lost, pods become independent mongo instances"
The replication example does not survive a redeploy.
The way it works with a run-once pod has likely no future if we will support a redeploy.

Steps to reproduce:
1. On a new project, create cluster from the template:

[code]
2. Wait until replica set is deployed and stand-alone pod shuts down:

[code]
3. List pods and connect to one of them as the 'admin' user:

[code]

   Ok, we have a replica s

[2015-08-13 14:26] bparees commented on #70
is the issue simply that the config data is not on a persistent volume?  if it were, would this survive a restart?  or is there something else that needs to be initialized each time the mongo container comes up?

[2015-08-13 14:54] rhcarvalho commented on #70
During redeploy the replica set is essentially undone as pods get killed. Upon restart, they need be reconnected -- https://github.com/openshift/mongodb/blob/master/2.4/contrib/common.sh#L130-L135

I'll try to make it so that we use a post-deploy hook instead of a run-once pod and see how far it gets us. It should work even if we have ephemeral storage (data will be lost, but not the connectivity

[2015-08-13 17:01] rhcarvalho commented on #70
I think this would be a good scenario for an extended test... or at least add as a test case for our QE team.

[2015-08-14 11:04] wzheng1 commented on #70
@rhcarvalho QE has added such scenario with "origin_devexp_625" contained in case title: https://tcms-openshift.rhcloud.com/case/4101/ and https://tcms-openshift.rhcloud.com/case/4102/ .

[2015-08-14 13:53] #70 closed, assigned to nobody

[2015-08-14 14:00] rhcarvalho opened #72 "Infinite loop when deploying with replicas set to 0"
Trying to (re)deploy with replicas set to 0 will start an infinite loop [here](https://github.com/openshift/mongodb/blob/57042b34f5577f31e2117e9fafcc1112a492efa5/2.4/contrib/initiate_replica.sh#L5-L12) which will cause the deployment to never complete.

[2015-08-14 15:07] rhcarvalho opened #74 "Default values for MongoDB configuration"
We [set default values](https://github.com/openshift/mongodb/blob/386c1a0d8f4031aabda03464bf18ab5553e2a2ef/2.4/run-mongod.sh#L12-L15) for [`noprealloc`](http://docs.mongodb.org/v2.4/reference/configuration-options/#noprealloc)=`true`, [`smallfiles`](http://docs.mongodb.org/v2.4/reference/configuration-options/#smallfiles)=`true` and [`quiet`](http://docs.mongodb.org/v2.4/reference/configuration-op

[2015-08-14 15:15] bparees commented on #74
we wouldn't want to remove them, then you wouldn't be able to configure it at all...  but we can consider changing the defaults.

[2015-08-17 08:58] rhcarvalho commented on #74
@bparees I wouldn't remove them because of backwards-compatibility.
But providing one env var per MongoDB config doesn't scale.
We could rather document how to provide a config file (preferred) or command-line arguments to `mongod`.

[2015-08-17 09:46] mfojtik commented on #74
@bparees @rhcarvalho reason why I introduced them is to provide faster container initialization and does not require insane amount of storage/user quota by default just to run a simple MongoDB instance.

[2015-08-17 09:47] mfojtik commented on #74
@rhcarvalho pre allocation is a tricky topic in MongoDB. We learned a lesson in OpenShift v2 where creating a MongoDB cartridge (or adding it to your application) took insane amount of time and most likely exhausted your user quota.

[2015-08-17 12:43] rhcarvalho commented on #74
@mfojtik I understand the underlying reason, but what is not clear to me is what is the ultimate purpose of the `openshift/mongodb-*` image(s). Are they supposed to be production ready images or not?

Do we expect OpenShift users to use the image we provide or create their own image that is tuned for their application requirements?

[2015-08-17 12:46] mfojtik commented on #74
@rhcarvalho I think we should expose that values as environment variables, allowing users to tweak them to suit their environments. By default, I think we should make the MongoDB image fast and use minimum storage.

[2015-08-17 14:31] rhcarvalho commented on #74
Allowing customization is a valid concern. But we have 3 env vars that default to reversing MongoDB's defaults (surprising anybody coming from a standard MongoDB setup), and no documented way to change other things that are supposed to be tuned in production, e.g., [`oplogSize`](http://docs.mongodb.org/v2.4/reference/configuration-options/#oplogSize) that has direct [implications on replication](h

[2015-08-17 15:41] bparees commented on #74
allowing users to provide a config file is a fine idea, no objection to that...but keep in mind the normal way to do that might be to just create your own custom mongodb image layer on top of our image.

and we do want env variables for commonly configured values people can write templates that deploy mongo in specific ways and to provide an easy out of the box experience.  so i would expect us to

[2015-08-17 16:36] rhcarvalho commented on #74
@bparees I'm fine with all that you're saying. Just still not convinced about our defaults.

[2015-08-17 18:09] bparees commented on #74
@rhcarvalho basically our defaults should be optimized for prototyping/rapid-devel.  once you make a decision to go into production you're going to be revisiting all the config settings anyway, so there's not much point in defaulting a couple of them for a production deployment.

it sounds to me like quiet=false is going to be pretty verbose and not useful when you're doing preliminary devel, so i

[2015-08-20 09:15] mnagy commented on #74
Are the benefits of deviating from MongoDB defaults worth the risk that someone runs the image in production with them? I think it's generally safer if you need to explicitly set something in development environment, instead of having to do it for production.

I also think that setting quiet to false also makes more sense when developing as a help when debugging.

[2015-08-20 09:19] mfojtik commented on #74
@mnagy users have a way how to tweak this image and change the default we set using `docker build`. Currently it is primarily us (I mean OpenShift) who consume this image. I don't see any problem changing this to the default value if there will be customer request to do so. In meantime, I don't want to make our life more complicated by waiting for MongoDB to allocate several GB just to see the Mon

[2015-08-20 12:10] rhcarvalho commented on #74
I run our image a few times varying the values for the env vars.
Having MONGODB_SMALLFILES=true seems to be the single option that drives down the
startup time... but at a cost if someone ever uses our image for storing any
non-trivial amount of data.

The speedup is understandable, and can be mostly attributed to the size of the
journal. The smallfiles setting reduces the size of each journal fil

[2015-08-20 12:32] rhcarvalho opened #76 "Allow passing extra arguments to mongod"
The official [Docker Hub image for MongoDB](https://hub.docker.com/_/mongo/) allows passing arguments to `mongod` via its [entrypoint script](https://github.com/docker-library/mongo/blob/c664ab653154aa4068a46f57ceeacd7c5cda1ae4/2.4/docker-entrypoint.sh).

This feature is useful and users can benefit of it both via `docker run` and within an OpenShift DeploymentConfig (one can specify container arg

[2015-08-20 12:34] rhcarvalho opened #77 "No way to specify the oplogSize"
We're [hard-coding the `oplogSize` to 64 MB](https://github.com/openshift/mongodb/blob/386c1a0d8f4031aabda03464bf18ab5553e2a2ef/2.4/run-mongod.sh#L69) which greatly limits setting up our replication example for anything past a "it works!" demo.

If an application takes 10 minutes to add 64 MB of data to MongoDB, it means you have a window of only 10 minutes to recover a secondary in case of failur

[2015-08-20 12:35] rhcarvalho commented on #77
@mfojtik @bparees @mnagy PTAL

[2015-08-20 12:35] rhcarvalho commented on #76
@mfojtik @bparees @mnagy PTAL

[2015-08-20 12:36] mfojtik commented on #76
@rhcarvalho we should do the same (afaik we already doing that for mysql)

[2015-08-20 12:37] mfojtik commented on #77
how do we calculate 5% of free space?

[2015-08-20 12:40] rhcarvalho commented on #77
We don't, Mongo does... And we determine the total space with volume specs.

[2015-08-20 18:04] bparees commented on #77
how does mongo calculate the free space?  we have a lot of issues w/ metric data that's available within containers reflecting the host, not the container limits.

Also i doubt 5% will be the right value here since i'd anticipate pretty small volumes.  with a 1gig volume, even if entirely empty, you'd be setting the opLog to 50megs.

So while i agree we should make it configurable, i'm not sure i

[2015-08-20 18:13] bparees commented on #76
+1

[2015-08-20 18:19] bparees commented on #74
no journal means no recovery?  there's optimizing for performance and there's optimizing for resilience.  removing default resilience goes a bit far for my taste.

and @mnagy i haven't looked at the logs, but i'm assuming from the description that the types of messages "quiet=true" turns off are not the messages you normally need as a developer who is debugging..I assume they are low level replica

[2015-08-21 09:34] rhcarvalho commented on #74
@bparees no journal means you can have inconsistent state of the data files after a crash. Unless the OS/k8s cluster is shutdown abruptly, container shutdowns are clean.

Anyway, I wouldn't like to bake into the image a default value that reverts MongoDB's default. That's my main concern here.

If we think in our templates we need "noprealloc", "smallfiles" and "quiet" because that was the way it

[2015-08-21 11:37] mfojtik commented on #74
@rhcarvalho @bparees the complains we were receiving from v2 users about MongoDB was that:

1) It was eating user quotas (even though users have small databases, which was very common)
2) It took very long time to add the cartridge to application as the MongoDB initialization took long time. I can imagine that using NFS volumes this will be even more longer.

[2015-08-21 11:46] rhcarvalho commented on #74
@mfojtik I understand that. But why not set that as explicit configuration in our templates rather than baked in defaults in Docker images?

[2015-08-21 13:57] bparees commented on #74
templates are a convenience and a stop-gap, i would not assume users will always be deploying mongo via a template.  i'd expect them to deploy it via "oc new-app mongodb --volume=foo" (once new-app supports a volume semantic)

[2015-08-21 13:57] bparees commented on #74
(to be clear:  _this_ use of templates is a convenience and a stop-gap)

[2015-09-04 11:30] mfojtik commented on #76
@omron93 PTAL

[2015-09-04 11:31] mfojtik commented on #77
@bparees I think this will be solved now as we will get cgroups mounted to the container. So we can calculate the proper size based on that information.

[2015-09-04 13:41] bparees commented on #77
yes, once we move to 1.8(?)

[2015-09-04 16:04] deanpeterson opened #81 "No Persistence?"
Is there a reason no example is given for how to make the data persistent for the clustered replica set version?  If I modify this to include a persistent mount location will that not work?

[2015-09-07 10:51] omron93 commented on #76
LGTM. I like a way how to configure the image. And I think there should be no problem with this...

I also think it should be good to allow/document users to mount configuration file,... It is a standard way how to configure mongod and when you don't run mongod from kubernetes it easier to use.

However, when we discussed this, I think you said you don't want to allow users to configure everything

[2015-09-08 20:57] deanpeterson opened #82 "Unable to access with mongodb:27017"
Am I missing something about how DNS works in Openshift.  I used the replica set template and start three mongodb pods to create a replica set.  The Openshift documentation says I should be able to access the database using mongodb:27017.  That is not working for me; I just get timeout errors.  Do I need to do extra setup to make this work?

[2015-09-10 21:27] #81 closed, assigned to nobody

[2015-09-10 21:28] #82 closed, assigned to nobody

[2015-09-10 21:29] deanpeterson opened #84 "Openshift Console Starts Printing same error message on endless loop"
I have been trying to get the mongodb replica set example to work for a few days. I have three pods running and I start up the router and add the route to my headless mongodb server.

I add:

mongodb.test.router.default.svc.cluster.local to my /etc/hosts file.

That is a route I added for my mongodb headless service (no ClusterIP). When I attempt to connect to the service using UMONGO with the hos

[2015-10-16 17:02] alberttwong opened #92 "At what point does oc env MONGODB_SERVICE_HOST get populated?"
I have a question.  The code knows to pull the correct IP for mongodb using $MONGODB_SERVICE_HOST.  When does this variable get created and populated?   When "oc new-app mongodb" get executed?   If so, I tried to do a search across this project (returned 0 results) and couldn't find the spot that defines it.

[2015-10-29 14:10] markllama opened #99 "Test DATADIR permissions and fail cleanly"
When running this image in Kubernetes 1.1.0, the USER clause and the ownership/permissions imposed on the volume _/var/lib/mongodb/data_ by kubernetes are incompatible. If we check the permissions before starting the daemon we can provide a clear error message and avoid waiting/thrashing.
### Process and File Ownership/Permissions

[code]

This causes the intialization to fail when creating a lock

[2015-11-12 03:06] sdodson opened #109 "GID 998 will be unusable in rhel7.2"
Per https://github.com/openshift/mongodb/blob/master/2.4/Dockerfile.rhel7#L28-L32 mongodb user must always be uid=184 and gid=998   however in rhel7.2 images gid 998 is already in use by systemd packages.

[code]

When installing on rhel7.2 mongodb is uid=184 gid=995
So what to do?

@jhadvig as you wrote the comment referenced above

[2015-11-12 03:52] bparees commented on #109
I'm dubious that restriction is still necessary, we can probably remove it.

[2015-11-12 04:51] sdodson commented on #109
Wouldn't you run into problems with ownership on persistent volumes if a
pod were restarted on a different node which had different version of the
image? I guess as long you change ownership on startup you'd be fine.
On Nov 11, 2015 10:52 PM, "Ben Parees" notifications@github.com wrote:

[2015-11-12 14:39] mtrmac commented on #109
If you are going to change anything about UID/GID allocation, _please_ read https://fedoraproject.org/wiki/Packaging:UsersAndGroups and make sure whatever you decide to do is compatible with it, and with the implicitly used values from `grep '[UG]ID_' /etc/login.defs`. Hard-coding 998 should never have happened.

[2015-11-12 15:19] bparees commented on #109
@mnagy @rhcarvalho I think one of you were the original reason we were doing this in the postgres or mysql image, can you refresh my memory on why we're doing this check and confirm it's really still needed now that we run as any user anyway?

[2015-11-12 15:32] rhcarvalho commented on #109
From my experience working on this, OpenShift doesn't change ownership of files and directories when mounting the persistent volume. But honestly I don't know the code bits related to mounting PVs and my observation could be wrong.

@bparees I never fully grasped why this was needed, its existence predates me in the project :)
I'm +1 for trying to remove it.

[2015-11-12 16:19] mnagy commented on #109
Yeah, we can remove it. Will do.

[2015-11-12 19:25] #109 closed, assigned to nobody

[2015-11-24 08:59] rhcarvalho opened #114 "Replication example with persistent storage"
The replication example for MongoDB should use persistent storage ([Trello card](https://trello.com/c/jPGXhxlJ/694-3-mongodb-replica-set-example-with-persistent-storage)).

This is an attempt to bring the conversation from https://github.com/openshift/origin/issues/4211#issuecomment-158940707 closer to where it is to be implemented.

[2015-11-24 09:38] rhcarvalho commented on #114
@wattsteve @bparees @deanpeterson I'm bringing the conversation about how to best implement replication for MongoDB in containers to this spot.

---

@bparees, to some extent, isn't a redeploy equivalent to all pods failing in a short time frame? So it is not enough to tolerate losing a pod (with it's data replicated elsewhere), but, for what I can imagine, we need to have persistent storage for a

[2015-11-24 14:22] bparees commented on #114
that's a deployment strategy problem.  we have a rolling deployment which should be doing 1:1 replacements of pods so that it does not take the entire cluster down simultaneously.

[2015-11-24 14:38] rhcarvalho commented on #114
If we'll rely on rolling deployment, then we need a readiness probe or the like, to be able to wait until the replacement has joined the replica set before shutting down the next pod.

[2015-11-24 14:41] bparees commented on #114
sure.  but that's just using the platform the way it's designed to be used.  (strictly speaking you also need to wait for the new member to have completed replicating/catching up.  not sure if mongo makes that distinction clear or not)

[2015-11-24 15:03] rhcarvalho commented on #114
AFAIK, depending on oplog size and # writes/sec, we can get to a point where it is impossible to fire up a new replica.
Not sure if I recall the working details correctly, but a replica starting from scratch would need to 1) do a full sync of existing data; plus 2) sync all data from when 1 started up till "now" (that needs to come from the oplog). If the oldest entry in the oplog is older than wh

[2015-11-24 15:06] bparees commented on #114
At the end of the day, the solution to these problems is "disable automatic deployments and use a controlled process to roll out a new deployment, possibly including quiescing traffic".

[2015-11-25 14:49] rhcarvalho commented on #74
@wattsteve, since you raised the performance concerns about using network storage vs. local disk (#114), may I bother to ask for your opinion regarding the default config for `mongod`, in particular the ones I mention in this issue, 'noprealloc', 'smallfiles' and 'quiet'?

[2015-11-25 16:07] wattsteve commented on #114
@rhcarvalho I acknowledge and agree with your point on the fact that RCs can provide a Singleton pattern when there is only one replica whereas standalone pods do not offer that.

To your other point about needing "persistent storage for at least one replica of each shard". I think that depends on the size of the Mongo cluster and how many replicas there are. If you have 10 ephemeral (EmptyDir) re

[2015-12-18 19:47] bparees commented on #92
that value is automatically defined/injected by openshift/k8s when you have a service named "mongodb" defined in your namespace.

[2015-12-18 19:47] #92 closed, assigned to nobody

[2015-12-18 19:49] bparees commented on #84
If this is still an issue, I suggest you reopen it against the origin repo since it sounds more like a fundamental routing/service issue/question than something specific to the mongo image defined here.

[2015-12-18 19:49] #84 closed, assigned to nobody

[2015-12-18 19:53] bparees commented on #72
@rhcarvalho is this still an issue?

[2015-12-18 19:54] bparees commented on #50
we have other issues open for improving clustering (and we've probably come a long way since june) so i'm closing this.

[2015-12-18 19:54] #50 closed, assigned to nobody

[2015-12-18 20:47] rhcarvalho commented on #72
The code I pointed in the issue moved to a new place: [initiate_replica.sh#L5-L12](https://github.com/openshift/mongodb/blob/5cbbefc17524d971b929446692e32fd437b9ac21/2.4/root/usr/share/container-scripts/mongodb/initiate_replica.sh#L5-L12).

Yes, still an issue.

[2016-02-03 00:03] bparees commented on #15
@mfojtik, I don't think we can hope for @jhadvig to do this anymore :)

[2016-02-03 00:42] jhadvig commented on #15
@bparees :+1:
@mfojtik enjoy ;)

[2016-02-03 08:41] mfojtik commented on #15
@bparees I do believe this is now better, but will see when mongodb explode in Jenkins :-)

[2016-02-03 11:36] rhcarvalho commented on #74
@bparees apart from re-evaluating our decisions about the default values, what else can we expect to get from this issue?
Old comments indicate we're following the v2 path. Unless we have new knowledge demonstrating that path doesn't apply to containers, this discussion will go nowhere.

That said, is this something worth investigating at some point?

[2016-02-03 15:35] bparees commented on #74
Probably not much.  Recent discussions about how disk quota will work for online leaves me even more convinced we have the right defaults here, so as discussed earlier in this thread, unless we start getting complaints from customers about the default settings, i'd like to leave it.  My guess is anyone who cares about those settings is going to have to customize other settings anyway, too.  This w

[2016-02-03 15:35] #74 closed, assigned to nobody

[2016-02-10 21:21] rhcarvalho opened #125 "Replication: after scale up, new pod cannot connect to replica set"
## Steps to reproduce
1. Create new app:

[code]
2. Stream logs until the deployment is finished. Replica set initialization logs are streamed as well:

[code]
3. Connect to the primary member via any pod, check that replica set configuration is ok:

[code]
4. Scale up, look at the logs of the new pod:

[code]

   The last message repeats indefinitely.
## Expected result

The new pod should be add

[2016-02-10 21:21] rhcarvalho commented on #125
@bparees FYI

[2016-02-18 19:38] omron93 opened #129 "Remove CentOS sclo testing repository"
After RHSCL is released rh-mongodb32 will be added into repository provided by centos-release-scl package. So `3.2/Dockerfile` have to be changed to use this repository.

This issue came from this PR - #127

[2016-02-26 09:13] goern commented on #114
pls take into consideration that mongodb 3.2 changes the default storage engine to wiredtiger: https://docs.mongodb.org/manual/core/wiredtiger/

[2016-02-26 09:29] rhcarvalho commented on #114
This issue is blocked on having PetSets in Kubernetes https://github.com/kubernetes/kubernetes/pull/18016 in order to have a single Deployment Config and independent storage for replicated pods.

A known workaround for having persistent storage with replication today is to use multiple DCs and never scale up.

[2016-02-26 15:45] php-coder commented on #125
Unfortunately it's still here :(

[code]

Today it tries to connect to `Fri` because today is Friday.

@rhcarvalho Could you reopen it?

[2016-03-04 19:58] #125 closed, assigned to nobody

[2016-03-15 17:10] rhcarvalho opened #140 "Replica Set initialization without election"
In a conversation with @php-coder today he brought an excellent question and idea:

Why does the pod running the replica set initiation code starts as a PRIMARY member, and then it steps down and triggers an election among the other members?

It would be much simpler if the post-deployment-hook pod simply pick one of the deployed pods and make it the primary, run all the initialization steps, add

[2016-03-15 21:05] grdryn commented on #140
Sounds good. There's an issue that I've seen a sometimes where the initiator details are still in the members list even after it drops out. This should at least cover that! :+1:

[2016-03-17 18:36] php-coder commented on #140
Food for thoughts: currently all pods require authentication and you cannot connect to pod after its creation because it doesn't have any users. We are creating users right **after** adding node to the replica set.

[2016-04-18 08:41] omron93 commented on #140
@php-coder is right. Mongod with keyFile (which implies auth) allows connection only from localhost (https://docs.mongodb.org/v2.6/core/authentication/#localhost-exception).

So only way how to get this proposal to work is to be possible to give some master token (post-deploy hook could specify some global environmental variable or something to notify pods who should start initialization. Is this

[2016-04-18 09:32] rhcarvalho commented on #140
A single deployment config with multiple replicas will use the same env vars for all pods. One way to distinguish "who should be master" is to set the master name in the env. Then each pod would check whether it should act as master or not.
But then, the name is also assigned by the platform, we cannot put in the template... leaving this as food for thought.

Deterministic choice of master can be

[2016-04-18 11:24] omron93 commented on #140
If there would be one service per each member (as mentioned in blog post) coutd it be possible to change the number of replicaset members on runtime?

[2016-04-18 13:05] rhcarvalho commented on #140
Not automatically with `oc scale`.

[2016-04-28 09:49] omron93 commented on #140
This is not a requirement?

[2016-04-28 10:56] rhcarvalho commented on #140
@omron93 for me, today, it's a debatable feature that looks good on a demo, but doesn't work well in production.

My hope for a better future is coming with **being able to address pods by a stable hostname** (https://github.com/kubernetes/kubernetes/pull/24362) and having **scalable persistent storage** (https://github.com/kubernetes/kubernetes/pull/18016), those will put us in a more ideal situa

[2016-05-12 20:13] rhcarvalho opened #159 "Update Jenkins to test image based on PR changes"
We should update the [Jenkins config](https://ci.openshift.redhat.com/jenkins/job/mongodb/) to run extended tests with the image that we build in PRs, not the image from DockerHub, otherwise it takes a few iterations to realize that tests are not passing -- after a PR was merged. Example: https://github.com/openshift/mongodb/pull/154.

@bparees @php-coder @mfojtik FYI

[2016-05-12 20:38] bparees commented on #159
the only way to do this is for the template used by the extended tests to not use an imagechangetrigger but instead to hardcode the image field in the DC.

which is not what we'd want for when the extended test is run in origin, since the purpose of that run is to, among other things, validate the template and the imagestream is part of that template.

so if we want reuse of the extended test betw

[2016-05-13 08:08] rhcarvalho commented on #159
@bparees the [replication example template](https://github.com/openshift/mongodb/blob/master/2.4/examples/replica/mongodb-clustered.json) doesn't include an image stream, it just [points to the image openshift/mongo-24-centos7](https://github.com/openshift/mongodb/blob/master/2.4/examples/replica/mongodb-clustered.json#L127).

The [config](https://ci.openshift.redhat.com/jenkins/job/mongodb/config

[2016-05-13 10:02] omron93 commented on #129
Also RHEL rhscl channel is now Beta and after RHSCL GA this have to changed back to `rhel-server-rhscl-7-rpms`.

[2016-05-13 15:22] bparees commented on #159
@rhcarvalho the make test job already includes the option to TAG_ON_SUCCESS=true, so if we just make sure that is set when we do the make test call, it sounds like we're fine?

[2016-05-13 17:13] rhcarvalho commented on #159
I didn't know about that tag, that should do it I suppose.
When the PR tester will be working again I could create a PR to ensure the tests break when they should.

[2016-08-11 08:03] jorgemoralespou opened #170 "mongo 3.2 lacks most of the tools"
To do initial loads into mongodb there is a need for mongoimport. As the package is no in rh-mongodb32-mongo-tools there is a need for:
- Have the tools in the mongo image
- Have an additional mongo-tools image that can be used to import data in the mongo db. This image can be used as sidecar, as post-deployment or as a job or runonce pod to load data into the mongo database.

[2016-08-11 11:40] jorgemoralespou opened #172 "Not possible to do port-forward to mongo32"
There is no socat in the image and port-wordfarding fails:

[code]

[2016-08-18 15:33] hhorak commented on #170
Anyway, I see the point, but every solution has some side effects.

The problem with mongo-tools is that the binaries are really big (statically-linked golang binaries with ~7MB each, so ~70MB in total).

Slightly less invasive but also less perfect would be to include only mongoimport in the image (remove unneeded binaries to safe image size; eventually by having something like mongo-tools-import

[2016-08-18 15:44] bparees commented on #170
The sidecar would be fairly painful for users i think, they'd have to update the pod (or DC) to add the sidecar container, then ssh into it and use the tools, then update again to remove the sidecar container.

they're also likely to hit resource limits due to needing another container (especially in online) and having to redeploy my DB to add a tools container sounds very bad.  If i were an admin

[2016-08-19 20:07] jorgemoralespou commented on #170
@bparees why would the sidecar need to be removed and the
dbericat@redhat.com redeployed? Couldn't just be used for a post-deployment
hook?
Couldn't the template have both containers and just guarantee that the db
is running?
Or the container be used in a job to do the load/import?

El 18 ago. 2016 17:44, "Ben Parees" notifications@github.com escribió:

[2016-08-19 20:23] bparees commented on #170
@jorgemoralespou  i was under the impression the admin wanted to use the command line tools by hand to do things.  In which case they need the sidecar container to rsh into, and they'd want to remove it afterwards so it is not consuming quota resources.

As for using a post-deployment hook, post-deployment hooks use the same image as the deployment, they can't run using an arbitrary image, so you'

[2016-08-19 20:24] bparees commented on #170
i should note that assumes the tools do not require direct filesystem access to the DB.  If they need filesystem access to the DB, you need to run them in the same pod so they can access the volume (or have a PV that can be mounted multiple times).

[2016-08-23 10:51] hhorak commented on #170
This is not the case, imho all the tools work over network socket. Anyway, it seems that the option with a sidecar brings more complexity, so I'm more in favor rather to increase the image size. Question is whether we want to do tricks to not increase the image size too much, like removing not-desperately-needed binaries. The official image on docker hub includes all, so I'd go with that way as we

[2016-08-23 14:15] bparees commented on #170
yeah i'm not inclined to play games to save a few megs.

[2016-08-24 08:31] omron93 commented on #140
Initialization of replicaset without election could be possible, even without necessity of initialization in post-deploy hook.

@bparees @rhcarvalho What about making MONGODB_INITIAL_REPLICA_COUNT mandatory? It is used in default example and without it there is a warning that it is better to set it:

With this variable, pods could wait till all are included in `endpoints()` and then pod with lesse

[2016-08-24 08:58] #129 closed, assigned to hhorak

[2016-08-24 14:03] bparees commented on #140
@rhcarvalho has been more involved in this than I, but yeah making it required when trying to run in replica mode seems ok (obviously we don't want users to have to set it when running in standalone mode).

[2016-09-01 21:14] rhcarvalho commented on #140
I think this idea requires experimentation.

In the long term I don't like much the `MONGODB_INITIAL_REPLICA_COUNT` manually provided by the end user because it doesn't play well with the platform / it doesn't scale.

I would rather see a different mechanism that integrates with the number of replicas from the platform. Too late at night now to remember if this is something that could be done usin

[2016-09-14 07:41] bparees opened #179 "mongo replica tests are failing"
https://ci.openshift.redhat.com/jenkins/job/origin_extended_image_tests/549/consoleFull

probably due to either:
https://github.com/sclorg/mongodb-container/commit/2e55696d2218ad38c4fe3b3db7c34ccccc3e95d4

or

https://github.com/sclorg/mongodb-container/commit/df104523417431ac013733b5478e483124b048c8

@omron93 @php-coder

[2016-09-14 07:42] bparees commented on #179
@php-coder i can't assign this to you since you're not a member of the org, but please consider this your priority.

[2016-09-14 19:10] bparees commented on #179
@csrwng fyi this is what is breaking the extended test image bucket currently.

[2016-09-15 21:09] #179 closed, assigned to nobody

[2016-09-19 12:52] php-coder opened #181 "Add description to the repo"
When I'm opening [repository page](https://github.com/sclorg/mongodb-container) I see a message "No description or website provided." I think that it should be easy to add a description.

[2016-09-20 11:11] omron93 commented on #181
@php-coder @hhorak @bparees Does any other RHSCL/OpenShift Docker image repository contain similar information?

[2016-09-20 11:26] bparees commented on #181
@omron93 no, i think they would all need to be updated if we're going to do this.

[2016-09-21 07:53] omron93 commented on #181
And what kind of description could be there?

[2016-09-22 20:15] hhorak commented on #181
I think a sentence from beginning of the README.md would be sufficient: "Dockerfiles for MongoDB images for OpenShift. Users can choose between RHEL and CentOS based images." There is also possibility to add URL to the project there, do we want to promote some? (maybe some RH containers entry page?)

[2016-09-23 07:10] bparees commented on #170
@hhorak bump.  i'd like to see us install these tools in the image.
@rhcarvalho fyi.

[2016-09-23 08:44] hhorak commented on #170
I agree. @omron93, can you create a PR for that, pls?

[2016-09-23 11:28] php-coder commented on #170
https://github.com/sclorg/mongodb-container/issues/187 just got merged. Can we close this issue then?

[2016-09-23 11:29] #170 closed, assigned to hhorak

[2016-10-06 14:39] omron93 opened #194 "Code sharing"
Now we have in master replset scripts.
#184 add a new way how to initialize replset and how to manage pods. It does not use much of current code - it works differently (so maybe it's right).
#178 tries to add support to run replication in pure docker environment. The best way how to do this is not to use post-deploy hook for initialization and remove members in `cleanup()`. So this differs from bo

[2016-10-06 14:45] rhcarvalho commented on #194
#184 also doesn't remove members from the config.

I think the two ways can share code, they are not incompatible.

And if we factor out our functions better, they would be easier to reuse.

We just feel the pain of working on two different features on the same timeline :)

[2016-10-06 14:56] php-coder commented on #194
IMHO we have more serious duplication between 2.4/2.6/3.0/3.2 and dealing with a small duplication between <5 scripts not so important to me. Also it will increase the risk for change because it may breaks more scripts. I like stability and I hate regressions, especially in the unrelated code.

Let's imagine that PetSet goes to beta and now I need to update code for petset. If most of the code wil

[2016-10-06 20:22] praiskup commented on #194
Haven't had a chance to look at those WIP PRs:

@php-coder wrote:

That's right.  It is just unlucky we haven't been able to deal with this yet, Martin started here sclorg/mysql-container/pull/143.

-1, if we are going to ignore that duplication is mistake, we are going to never change this

Please accept my honest disagreement.  We also don't have multiple kernels, multiple glibc's etc. Maybe tha

[2016-10-07 10:38] omron93 commented on #194
@rhcarvalho  Yes. But #178 needs to remove members from config.

Agree.
"easier to reuse" - why current functions are not good to reuse? Ok, I know it is [WIP]. Do you assume that better new functions that are similar to old one will be merged before #184 get merged (so in the end removed from #184), OR #184 will be merged and old code will have to be changed to use new functions?

---

New functi

[2016-10-07 10:53] omron93 commented on #194
@php-coder

IMHO 2.4/2.6/3.0/3.2 differences are not so serious. Everytime I do changes in one versions and then I run a simple script that apply change to other versions. Differences are so small (in mongodb, not sure about other repos) that I don't remember that my changes won't apply automatically to other versions.

---

On the other hand, let't imagine that we found that for example we are no

[2016-10-10 01:10] bparees commented on #194
#178 i'm honestly not sure why we are investing effort in.  No one is going to run mongo in "pure docker", if they don't use openshift/k8s they're going to use swarm or something else.

#184 will ultimately supercede the existing replication example/logic at which point duplication can go away when we remove it.

[2016-10-10 07:58] omron93 commented on #194
@hhorak ?

@bparees Do we know when? I've heard that 2.4 is going to be EOL, but it is still here :-) So everytime it takes longer time...

Or we won't provide fixes of possible bugs in "old replication" ? (before it will be removed)

[2016-10-10 09:43] rhcarvalho commented on #172
This very likely applies to all other images as well (databases, language stacks).

[2016-10-10 09:55] rhcarvalho commented on #99
FTR, #190 added a similar check to the keyfile creation flow. Unfortunately, that only applies the case where we do replication (and not the standalone use case).

[2016-10-10 15:34] bparees commented on #194
2.4 EOLs when the SCL packages EOL.

that'll probably be the first step.  Anyway the petset replication won't become the "official" replication solution until petstsets are no longer alpha, but even the existing replication solution isn't an official supported thing today.  it's an example.

[2016-10-11 09:33] php-coder opened #197 "3.2: consider updating default config file to YAML format"
Quote from https://docs.mongodb.com/v3.2/reference/configuration-options/:

I'm suggesting to update default config file to use YAML format.

[2016-10-14 13:50] rhcarvalho opened #202 "Set ulimit to recommended values"
Currently the MongoDB image doesn't change the default ulimit values, what is not ideal for production deployments.

https://docs.mongodb.com/manual/reference/ulimit/

[2016-10-14 19:23] SimonVuong opened #203 "how to make mongod accept only ssl connections...?"
i was able to use my on mongod.conf to specify ssl connections only

[code]

but the problem is that the first mongo connection used to specify the mongo users fails because it doesn't try to connect with ssl.

From run-mongod

[code]

any ideas on how we should account for this WITHOUT modifying common.sh and run-mongod??

[2016-10-17 08:08] rhcarvalho opened #204 "Set cacheSizeGB for 3.2 image"
According to the docs:

(https://docs.mongodb.com/manual/faq/storage/#to-what-size-should-i-set-the-wiredtiger-internal-cache)

We currently do not set that configuration option.

[2016-10-17 08:17] php-coder commented on #204
Because it uses new config scheme it should be done after #197

[2016-10-17 08:19] php-coder commented on #204
BTW, probably, this is also related to https://trello.com/c/tWHmNpY2/895-3-update-mongodb-image-to-autoconfigure-based-on-available-memory-evg33

[2016-10-17 08:26] rhcarvalho commented on #204
This is unrelated to that. It is possible to set this using any of the configuration formats.

From the same docs:

The old configuration format probably takes `wiredTigerCacheSizeGB`.

[2016-12-09 18:59] SimonVuong opened #213 "How do I use my own conf file inside Openshift?"
I see that the readme says to...

For example to use configuration file stored in /home/user directory use this option for docker run command: -v /home/user/mongod.conf:/etc/mongod.conf:Z.

But how do we edit the docker run command inside Openshift?

[2016-12-09 19:26] bparees commented on #213
if you're using the image in openshift you should be using volumes(or configmaps or secrets) to mount content into the running container.

[2016-12-09 21:44] SimonVuong commented on #213
So how do we move the file from volume to the target location without editing the dockerfile or the scripts?

[2016-12-10 04:21] bparees commented on #213
you don't move it, you specify the mount path to put the file in the approach location within the container.

[2016-12-13 17:35] SimonVuong commented on #213
could you go into more detail on how to do this please?

i found my deployment config and have this
[code]

[2016-12-13 18:55] bparees commented on #213
i suggest you define your mongo config in a configmap and then mount it as described here:
https://docs.openshift.org/latest/dev_guide/configmaps.html#configmaps-use-case-consuming-in-volumes

[2016-12-19 04:23] bparees opened #215 "petset replica fails to initialize"
The extended test reveals that sometimes a slave member fails to initialize, in this case member "1" (of 0,1,2) fails to join the replica set because it can't contact itself:

[code]

Guessing there is a race condition here, need to review the petset initialization logic to see if it's reasonable for it to expect to contact itself, and if so, why it can't at this point.

[2017-01-23 15:44] bparees commented on #215
fixed by https://github.com/sclorg/mongodb-container/pull/217

[2017-01-23 15:44] #215 closed, assigned to bparees

[2017-01-24 11:00] omron93 commented on #213
@bparees Does ConfigMap allow mounting single file (`mongod.conf`) to `/etc` and to keep other files in /etc?

If not, @SimonVuong take a look to this workaround https://github.com/kubernetes/kubernetes/issues/19764#issuecomment-269879587

[2017-01-24 11:34] omron93 commented on #172
@bparees @hhorak Should this be supported in our images?

[2017-01-24 11:37] omron93 commented on #114
https://github.com/sclorg/mongodb-container/pull/206 implementing this feature was merged. So closing this issue.

[2017-01-24 11:37] #114 closed, assigned to nobody

[2017-01-24 12:43] bparees commented on #172
@omron93 it seems like a reasonable ask to me given openshift's dependency on it for port forwarding (https://docs.openshift.com/enterprise/3.0/architecture/additional_concepts/port_forwarding.html#server-operation)

(see @jorgemoralespou?  that's 2.)

[2017-01-24 12:45] bparees commented on #213
I'm not sure, @pmorie should know.  The doc on it doesn't make it clear to me but it sort of implies that the entire path gets mounted over:
https://docs.openshift.org/latest/dev_guide/configmaps.html#configmaps-use-case-consuming-in-volumes

[2017-01-24 15:53] jorgemoralespou commented on #172
(@bparees I'm starting to get worried.)

[2017-01-24 16:44] hhorak commented on #172
I don't see any reason to not do it either.
@jorgemoralespou Reading the docs, but still rather double-checking -- is it just about `socat` package installed in the image and no other changes need to be made?

[2017-01-26 04:52] jorgemoralespou commented on #172
That @bparees would answer better. I'm not engineer so I have limited
knowledge.

[2017-01-26 13:48] bparees commented on #172
@hhorak i don't actually know myself, port-forwarding was at one point the domain of @ncdc though i'm not sure who it is now.  It seems likely that socat would be the only pre-req though.

[2017-01-26 13:51] ncdc commented on #172
`socat` has to live on the node. It does not need to be in individual "app" images.

[2017-01-26 13:56] bparees commented on #172
whoops, i totally misread "The supported implementation currently in OpenShift invokes nsenter directly on the node host to enter the pod’s network namespace, then invokes socat to copy data between the stream and the pod’s port. " as implying it was entering the container and invoking socat, not just the network namespace.

Thanks @ncdc

So @jorgemoralespou this sounds like a more fundamental iss

[2017-01-26 13:56] #172 closed, assigned to hhorak

[2017-02-07 17:23] matthyx opened #226 "Create StatefulSet deployment for PostgreSQL"
As noted by @bparees there is already a working setup with "pet sets" for mongoDB.
I plan to do the same for PostgreSQL, however it won't solve the non-atomicity of initialize_database discussed in https://github.com/sclorg/postgresql-container/pull/160

[2017-02-21 15:39] omron93 opened #228 "Replication support"
Replication using `ReplicaSet` was described in https://github.com/sclorg/mongodb-container/tree/master/2.4/examples/replica . 2.4 is now deprecated, so it is not documented nowhere. All other versions contains ReplicaSet code.

Replication using `StatefulSet` was added only for 3.2.

@bparees Is is possible to remove `ReplicaSet` code and add `StatefulSet` support also for 2.6 and 3.0-upg? Or `Re

[2017-02-21 15:43] bparees commented on #228
yes we can do that.

[2017-03-10 13:18] omron93 commented on #159
Currently it is possible to run test of replication in OpenShift by mentioning [test-openshift] (#222) in comment. This tests image which sources are in Pull Request.

So I hope this issue is fixed. (also there is new CI, so it is probably outdated)

Note: Adding new or extending current OpenShift testing scenarios can be done by modifying `test/run-openshift` script in for example in `3.2/` folde

[2017-03-10 13:18] #159 closed, assigned to nobody

[2017-03-14 12:21] omron93 commented on #204
@bparees How it is possible to get maximum amount of RAM in kubernetes/OpenShift?

Postgresql-container uses this group script to get available memory -  https://github.com/sclorg/postgresql-container/blob/master/9.5/root/usr/bin/cgroup-limits, but it is failing for me on F25 because of SElinux.

[2017-03-14 12:29] omron93 commented on #181
Added description similar to Mariadb contaiener.
"Dockerfiles for MongoDB images for OpenShift and general usage. Users can choose between RHEL and CentOS based images." and URL "https://softwarecollections.org"

[2017-03-14 12:29] #181 closed, assigned to hhorak

[2017-03-14 12:31] omron93 commented on #194
ReplicaSet support can be removed, so this issue is invalid.

[2017-03-14 12:31] #194 closed, assigned to nobody

[2017-03-14 13:09] omron93 commented on #202
@hhorak @praiskup @pkubatrh Does setting `limits` also apply to MariaDB/PostgreSQL? Is it somehow handled in RHSCL images?

[2017-03-14 13:12] omron93 commented on #140
@bparees Can be expected that MongoDB in OpenShift will use something different than `PetSet`?

[2017-03-14 13:21] praiskup commented on #202
Ulimits on RHEL/Fedora systems are usually generous enough by default (at least from PostgreSQL POV).

[2017-03-14 13:25] praiskup commented on #202
Roughly tried to run ulimit on my box, and it seems that from mongo perspective only the max number of opened file descriptor issue (default is 1024, so far I haven't seen different different default, while mongo suggest to have 64k, which sounds crazy TBH).

[2017-03-14 13:33] praiskup commented on #202
Btw., there seems to be soft limit of 4096 simultaneously opened file descriptors per process on my box.  I've seen some weird scenarios (GNU tar archives very deep directory structure) where the default 1024 limit is approached .. but I'm curious whether this is really an issue in case of mongodb and why.

[2017-03-14 14:06] omron93 commented on #202
Not sure if it good, but it seems that limits are not set in a image, but are related to host machine. So it may differ on every machine...
It is possible to set defaults in docker daemon by using `--default-ulimit` ("If these defaults are not set, ulimit settings will be inherited, if not set on docker run, from the Docker daemon." - https://docs.docker.com/engine/reference/commandline/dockerd/).

[2017-03-14 22:31] bparees commented on #204
It seems that issue is fixed now, you should be able to read the file again.

[2017-03-15 10:00] omron93 commented on #204
Thanks, I see. So same script could be probably a way for MongoDB too. I'll prepare PR.

[2017-03-15 15:34] bparees commented on #140
@omron93 at this point i think StatefulSet (what used to be called PetSet) is the only reasonable choice for mongodb replication.

[2017-03-16 11:25] #228 closed, assigned to omron93

[2017-03-16 11:34] omron93 commented on #140
OK, thanks. In that case, this issue is solved (creating MongoDB replication in Kubernetes using PetSet template does not require additional election).

Feel free to reopen.

[2017-03-16 11:34] #140 closed, assigned to omron93

[2017-03-16 11:39] omron93 commented on #226
@matthyx This issue should be probably created for sclorg/postgresql-container

[2017-03-16 12:00] matthyx commented on #226
right, sorry

[2017-03-16 12:00] #226 closed, assigned to nobody

[2017-03-21 09:17] #197 closed, assigned to omron93

[2017-03-21 14:46] omron93 commented on #72
Using of `ReplSet` was removed (now using `PetSet` kubernetes replication - no deploy hook is used) and I hope this issue is no longer valid for `PetSet` (is working for me).

Feel free to reopen.

[2017-03-21 14:46] #72 closed, assigned to nobody

[2017-03-21 14:59] rhcarvalho commented on #72
This is unrelated to ReplSet/PetSet.

The bug should manifest itself on a corner case, when replicas=0.

Today the code that (probably, haven't tested, haven't used for a long time) loops forever is:

https://github.com/sclorg/mongodb-container/blob/12a0b41100d9a555c4b5674550467aaea01c527a/2.4/root/usr/share/container-scripts/mongodb/init-replset.sh#L10-L27

[2017-03-21 16:04] omron93 commented on #72
@rhcarvalho If I understand it right, it is.

With `ReplSet` there was a container (deploy hook), not listed in Service which tested that some containers are listed there. So after scale to 0, this deploy hook container was waiting for containers forever.

Now with `PetSet` there is no such hook container. So after scale to 0, there is no container where "forever loop" could run.

But forever loop

[2017-03-21 16:10] rhcarvalho commented on #72
@omron93 okay, I don't remember/know how is the current state of the code. Your explanation makes perfect sense, thank you. And thanks for closing and updating this and many other old issues/PRs! :+1:

[2017-04-03 11:57] #99 closed, assigned to omron93

[2017-04-05 08:50] #32 closed, assigned to nobody

[2017-04-05 18:12] elmiko opened #235 "erroneous error message when specifying admin password and a database name"
while testing out this image i am running into a problem where the error output from the container does not match the behavior i am seeing.

## steps to reproduce:

1. create a new container with the following command

[code]

this results in a pod that will fail with the following error log:

[code]

i am positive that the environment variable is set, but i am informed that the true error is that

[2017-04-05 18:22] bparees commented on #235
to be clear, you can can specify "both", where both are:

1) an admin password
2) the full set of [username, password, db name]

what you can't do is set only part of (2).

but i agree that the message is currently unclear as to why is invalid about the set of env variables the user provided.

[2017-04-05 18:39] elmiko commented on #235
wow, even my description of the error is erroneous!

this just adds to the confusion, thanks @bparees !

[2017-04-06 08:47] omron93 commented on #202
Although the fix is relatively simple, I would let setting of limits to the user (when invoking `docker run` or centrally to docker daemon). So closing this issue now. It could be fixed when this decision cause any problem to someone.

Proposed fix:
[code]

[2017-04-06 08:47] #202 closed, assigned to omron93

[2017-04-06 09:02] #204 closed, assigned to omron93

[2017-04-06 15:20] omron93 commented on #235
Thanks for reporting this issue.

@elmiko  Please check #236 if `usage` is cleaner.

[2017-04-11 08:31] #235 closed, assigned to omron93

[2017-04-26 01:33] alikhajeh1 opened #240 "Having an external route for mongo"
Using the openshift mongo template, has anyone found a way to expose an external route for mongo? We can set mongo to require authentication and bind to 0.0.0.0 so it accepts non-localhost connections, but I've not found a way to make it work with external routes.

https://github.com/openshift/origin/issues/3415#issuecomment-137902453 suggests there might be a way if mongo support SNI, which if I

[2017-04-26 03:52] bparees commented on #240
i don't know enough about mongo to advise you about enabling sni (but if you do, you should be able to create a passthrough route to it), but another option would be configuring either an external ip service, or a nodeport for your mongodb pod.

[2017-04-26 11:56] omron93 commented on #240
Using SNI does not require using SSL/TLS on the server too?

Currently it is not possible to enable SSL for mongodb container - I plan to add this after s2i support is added (#239)

[2017-04-26 13:02] bparees commented on #240
yes, it does.  I figured that was implied when I said enabling SNI.

[2017-04-27 11:43] omron93 commented on #240
Not sure we talk about same "server" :-) I thought a mongod server... I was asking because I am not familiar with "Edge Termination" of OpenShift routes. And if this can be somehow used.

[2017-04-27 11:48] bparees commented on #240
edge termination of a route means the router terminates the SSL connection and then uses a non-encrypted connection to the backend.
https://docs.openshift.org/latest/architecture/core_concepts/routes.html#secured-routes

[2017-04-27 13:34] omron93 commented on #240
@bparees  So it is possible to connect to service port (different than 80/443) without encrypted connection?

[2017-04-27 14:18] bparees commented on #240
services can be on any port you want and any protocol you want.  but routes cannot.

[2017-04-28 06:13] omron93 commented on #240
Ok. So this issue is waiting for SSL support in mongodb-container. And that is blocked by s2i support - #239

[2017-04-28 09:49] alikhajeh1 opened #241 "Using this for production apps?"
I've been thinking about what it would take to run production apps using this OC template, and wanted to get some advice on the following topics:

1. Data corruption/loss: Assuming that we're ok with a standalone MongoDB (i.e. we'd rely on K8 restarting a pod following a failure and are ok with few mins of downtime), and have persistent volumes based on GlusterFS, do you guys see any issues with t

[2017-05-03 10:30] omron93 commented on #241
@alikhajeh1 Please, what template are you referring?

Journal is enabled by default for this image. So there should be no problem.

@bparees How to do backups in OpenShift please?

For MongoDB upgrades upstream releases document with things to check and fix before upgrade. This applies to images too. (for example https://docs.mongodb.com/manual/release-notes/3.2-compatibility/, https://docs.mongod

[2017-05-03 18:25] bparees commented on #241
oc rsh into the mongo container, use the mongo tools to create the backup and then oc rsync to pull the backup archive off the pod to your backup location.

[2017-05-03 19:07] alikhajeh1 commented on #241
Thanks for the detailed answer guys, I was referring to [this template](https://github.com/openshift/origin/blob/master/examples/db-templates/mongodb-persistent-template.json), which links to this repo...

Re backups, yep, that's exactly what we planned to do.

[2017-07-08 06:55] pooriaidani commented on #240
any updates on this?

[2017-07-10 10:30] aliscott opened #245 "Deploying with glusterfs storage volume"
Has anyone had any experience using this image with a glusterfs storage volume?

From trying it out it works well so far, but was wondering if anyone has seen any issues or might know of potential problems that may arise.

[2017-07-11 21:02] hhorak opened #246 "run-mongod ignores rest of arguments"
Both, MariaDB and PostgreSQL pass the rest of the run-<daemon> arguments given to this script by `docker run` command to the <daemon> itself:

[code]

This allows to change/add some options on the `docker run` command line or in template without providing whole new configuration. If there are no side effects, we should do it the same in mongodb container.

[1] https://github.com/sclorg/mariadb-con

[2017-07-26 09:31] omron93 opened #249 "petset-replicas - unclear shutdown"
petset-replicas, after removing all db pods, new pod cannot be running again, the expect result is all db pods are running again

[code]

Originally reported by @dongboyan77 in https://github.com/sclorg/mongodb-container/pull/239#issuecomment-317691746

[2017-07-26 12:13] omron93 commented on #249
Deployment of application was done using this template https://github.com/sclorg/mongodb-container/blob/master/examples/petset/mongodb-petset-persistent.yaml

@dongboyan77 Could you provide `oc` commands how to reproduce this please?

[2017-07-27 03:30] dongboyan77 commented on #249
create template `oc create -f  https://github.com/sclorg/mongodb-container/blob/master/examples/petset/mongodb-petset-persistent.yaml`
Then modify template instead of your expected image `oc edit template`
create app `oc new-app mongodb-petset-replication`

[2017-07-28 07:53] omron93 commented on #249
@dongboyan77 Thanks. And then?

[code]
is working for me. So I am not possible to reproduce this issue with current `docker.io/mongodb-XY-centos7` :-(
Could you provide more information please?

[2017-07-28 07:58] dongboyan77 commented on #249
delete all pods
`oc delete pod --all`

[2017-07-28 10:12] omron93 commented on #249
Thanks.

After this I can also see "Detected unclean shutdown - /var/lib/mongodb/data/mongod.lock is not empty." error message in logs. But mongod recovers automatically so deployment does not fail. (so after `oc delete pod --all` 3 pods starts again)
@dongboyan77 Does `oc delete pod --all` fail every time?

It seems that even if all `cleanup()` is run, `mongod.lock` isn't empty. Also upstream sug

[2017-10-05 11:37] hhorak opened #262 "Document how to back-up data from container"
We should cover docker alone and OpenShift.

[2017-10-05 11:40] hhorak commented on #262
Let's solve the general concept (if it needs to be discussed) in postgresql's issue: https://github.com/sclorg/postgresql-container/issues/189

[2017-12-06 14:23] hhorak opened #270 "Provide example, test and doc for using own SSL cert"
MongoDB container image already supports using own SSL certificate, it's just not documented nor tested at this point.

[2017-12-30 07:40] MichealB1969 opened #272 "connecting as admin via gui"
Hi,

I'm attempting to connecting to db as default admin user using the admin password which was set during setup.

I am using port forward to enable connecting from local host using Studio 3T but have also tried with Mongo Management Studio and MongoDB Compass but am unable to connect using the admin user.

I can connect as a standard user but need the admin access so i can create collections etc

[2017-12-30 10:42] MichealB1969 commented on #272
Turns out admin user is created in the admin db and not the db specified when setting up in openshift V3

1. port forward using oc port-forward [enter mongo pod name] 27017:27017
2. connect to mongo via cli using mongo -u admin -p [enter password] admin

[2018-01-02 15:08] omron93 commented on #272
User with `'dbAdminAnyDatabase', 'userAdminAnyDatabase', 'readWriteAnyDatabase', 'clusterAdmin' ` roles can be created only in `admin` database - declared in upstream doc (linked from README).
But you are right that it is not explicitly written in README itself and it could be.

@MichealB1969 Contribution is really welcomed. Could you create pull request?

[2018-03-26 14:26] tux4ever opened #284 "Support for journaling"
Can you describe (example) how it is possible to start the mongodb with journaling support as described under:
https://docs.mongodb.com/v3.4/reference/program/mongod/#cmdoption-mongod-journal

[2018-03-27 09:53] omron93 commented on #284
Mongodb can be configured by providing custom config file.

Best way is to extend/change default file - https://github.com/sclorg/mongodb-container/blob/master/latest/root/usr/share/container-scripts/mongodb/mongod.conf.template

[code]

Or you can use [s2i](https://github.com/openshift/source-to-image) to do the image customization - `s2i build $(pwd) centos/mongodb-34-centos7 my-mongodb-centos7`

[2018-04-25 09:44] omron93 commented on #284
@tux4ever Do you need any more information/help? Or can I close this issue?

[2018-04-25 09:47] tux4ever commented on #284
Thank you very much - the suggested way works fine

[2018-04-25 09:47] #284 closed, assigned to nobody

[2018-04-25 09:53] omron93 commented on #213
Using of own configuration files can be done now using s2i tool -- see https://github.com/sclorg/mongodb-container/tree/master/latest#extending-image

[2018-04-25 09:53] #213 closed, assigned to nobody

[2018-05-24 14:53] gabemontero opened #291 "Regression introduce with restarting slave pods with PVs"
See https://github.com/sclorg/mysql-container/pull/215/files#r190365336

Should the example/replica template even have a PVC for the slave?
If so, how do we refactor the reference PR/commit to allow slave pod restart per the openshift/origin extended tests I referenced?

thanks

@openshift/sig-developer-experience fyi

[2018-05-24 15:07] bparees commented on #291
@gabemontero i think you opened this against the wrong repo.  should be mysql.

[2018-05-24 15:07] #291 closed, assigned to hhorak

[2018-05-24 15:14] gabemontero commented on #291
duh ... yep you are right @bparees

[2018-05-24 15:15] gabemontero commented on #291
opened https://github.com/sclorg/mysql-container/issues/226

[2018-09-18 06:24] madvimer commented on #203
Any updates on this. we have a requirement to implement ssl. Only option i see right now is to make changes to common.sh and run-mongod. Can this be achieved as asked ?

[2018-09-24 12:10] omron93 commented on #203
@madvimer I hope this issue could be solved by using s2i to extend the image. So waiting to https://github.com/sclorg/mongodb-container/pull/287 to be merged. You can test the code from that PR if that works for you.

@UncleAlbie Can you estimate when you will be ready to review the PR?

[2018-09-24 12:16] panovotn commented on #203
@omron93 I'll review #287 by tomorrow afternoon.

[2018-09-26 09:44] omron93 commented on #203
#287 is merged and changes are available in `docker.io/centos/mongodb-36-centos7` image already.

You can solve this issue by having folders like this:
[code]

and either using build feature in openshift or invoke s2i manually: `s2i build myapp/ centos/mongodb-36-centos7 mongodb-ssl-36-centos7` and use the new image `docker run -ti -e MONGODB_ADMIN_PASSWORD=admin  mongodb-ssl-36-centos7`

@SimonVu

[2018-09-26 11:43] ehvs opened #297 "Publish Mongodb 4 image"
Hi team,

Do we have an estimated date to be published Mongodb 4 image?

[2018-09-28 13:48] madvimer commented on #203
Thank you. I do have a follow up question
I understand that eval was removed and replaced with "-host localhost" option. MongoDB docs specify that with SSL enabled it becomes mandatory to specify hostname( localhost will not work). Is my understanding correct on this or am i missing something

[2018-10-01 12:09] omron93 commented on #203
Thanks, you are right. I've missed it first.

I'm thinking about it and I see no other option than having to specify `localhost` in SAN of SSL certificate.
Basically in the container 'localhost' and 'hostname` can be resolved. And the hostname often changes with every container start. Also IMHO using real server/certificate domain for "internal" connection isn't good idea (although it could be pos

[2018-10-01 13:14] omron93 commented on #297
Hi,
this github repos contains files for three types of images: RHEL7, Centos7 and Fedora.

To request addition of a new Red Hat Software Collection please use http://bugzilla.redhat.com/. A new centos based image is added basically after rebuild of released RHSCL packages.

So now only Fedora based image for Mongodb 4.0 could be added. If you are looking for Fedora based variant, then I could add

[2018-10-11 10:11] omron93 commented on #270
Solved by #287 .

[2018-10-11 10:12] #270 closed, assigned to omron93

[2018-10-11 10:14] #272 closed, assigned to nobody

[2018-10-11 10:18] omron93 commented on #245
@aliscott Whats you experience with mongodb+glusterfs?

[2019-04-03 12:41] lehmeyer opened #304 "First replica set member is not adding to existing replica set after failure"
Because of the hard coded memberid (0), after an error of the first replica set, the POD cannot add itself to an existing replica set of the other replicas (1+). The first POD then initializes a new replica set.

[code]

The error can be simulated if the first POD and the corresponding PVC is deleted.
It would be better to determine beforehand whether a replica set already exists.

[2019-04-05 07:59] lehmeyer commented on #304
The pull request #305 solves the problem.

[2019-04-17 07:51] omron93 commented on #304
@lehmeyer Understand that deleting PVC will cause the issue. But did you have the problem with restarting primary in production usage? (without manually deleting a volume)

Kubernetes should remount the volume to restarted pod, so mongod in container should successfully reconnect to replicaset.

[2019-05-08 10:02] lehmeyer commented on #297
I have opened a ticket at redhat for this https://bugzilla.redhat.com/show_bug.cgi?id=1705905

[2019-05-10 04:56] renuraj18 opened #306 "PVC with replicas"
I created mongo db cluster with 3 replica set, did any one tried to mount using the PV to persist the data

Please guide

[2019-05-24 11:16] hhorak commented on #297
I'm sorry, but since the MongoDB upstream changed a license to SSPL for the server, we cannot add any further versions to the Fedora and RHEL. More information also available in https://fedoraproject.org/wiki/Changes/MongoDB_Removal.

[2019-05-24 11:16] #297 closed, assigned to nobody

[2019-06-11 13:32] BorntraegerMarc commented on #297
Thank you @hhorak for posting this link.

Please correct me if I'm wrong: But shouldn't this repository be marked as `deprecated` or `non supported`? If I understand the MongDB removal from Fedora correctly it means that no version will ever receive any update ever again. Also not minor bug-fix updates.

I think this is quite an important point. users should aware of this when browsing this repo,

[2019-06-11 13:33] BorntraegerMarc commented on #241
If I understood [this comment right](https://github.com/sclorg/mongodb-container/issues/297#issuecomment-495580010) then MongoDB support has been removed from Fedora. So these images shouldn't be used in production, to my understanding

[2019-06-12 05:40] pkubatrh commented on #297
Hi @BorntraegerMarc

there will be no new MongoDB versions (= no MongoDB 4.0 and onwards), but existing RHSCLs will still be supported according to their [lifecycle](https://access.redhat.com/support/policy/updates/rhscl). As long as the RHSCL RPMs are supported, the images will not get deprecated either.

Note that this is applies to CentOS and RHEL versions of images. Fedora versions will be qui

[2019-06-17 09:34] lehmeyer commented on #306
this article can be useful. the keyword is "volumeClaimTemplates".

https://kubernetes.io/blog/2017/01/running-mongodb-on-kubernetes-with-statefulsets/

[2019-07-26 12:15] lehmeyer commented on #304
The problem exists if the data of the first replicaset (memberid = 0) no longer exists. Then a splitbrain situation arises with two independent replicasets that cannot be connected.

[2019-08-07 15:02] BorntraegerMarc opened #313 "Exception in NodeJS app when new version deployed"
Hi 👋

Our openshift app updates our mongodb container to the latest version automatically when a new version is released: https://access.redhat.com/containers/?tab=overview#/registry.access.redhat.com/rhscl/mongodb-36-rhel7

After auto updating and re-running the mongodb container the actual container starts fine. However our NodeJS (which is using official nodejs driver & mongoose) app get's an e

[2019-09-20 12:02] omron93 commented on #304
Agree that it might be an issue - although I don't know how this situation can happen.

But I think it's quite edge case - and it might be a bug in Kubernetes.
If it's worth fixing, then #305 looks good.

[2020-04-22 18:15] rmorrise opened #318 "OpenShift InstantiateTemplate is not generating admin password"
In OpenShift web console on the "Instantiate Template" form, it says that a password will be generated if I don't supply one... but when I instantiate the template, it fails with this error:

Template.template.openshift.io "mongodb-persistent" is invalid: template.parameters[6]: Required value: template.parameters[6]: parameter MONGODB_ADMIN_PASSWORD is required and must be specified

[2020-11-10 16:07] ewoks opened #321 "MongoDB images newer than 3.6?"
Is there any specific reason why there are not newer MongoDB images?
According to [official page](https://www.mongodb.com/try/download/community), currently **v4.4.1** is the latest stable while this repository has 3.6 as the latest

[2020-11-10 16:30] pkubatrh commented on #321
Hi @ewoks
The licensing changed made by mongodb led Red Hat to drop support for new versions of the database, which is why no future versions have been released, nor are planned to be released. As we do not have the mongodb rpms available in RHEL, no images can be built either.

[2020-11-10 16:30] #321 closed, assigned to nobody

[2020-11-10 16:32] ewoks commented on #321
Just found the comment and explanation [here](https://github.com/sclorg/mongodb-container/issues/297#issuecomment-495580010).
Thanks for the confirmation @pkubatrh

[2020-11-13 07:01] ewoks commented on #76
guess this ticket can be closed, no @omron93 ?

[2021-03-04 11:23] nishantjiit opened #325 "upgrade to v > 4.0"
Can you please suggest how I can upgrade to version > 4.0

[2022-03-01 12:59] jones718 commented on #325
Same problem here :(